.mainContent {
  margin: 70px;
  padding: 60px;
}
.Title {
  text-align: center;
  font-size: 30px;
}
.conteinerForQuestions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade un poco de espacio interno */
  max-width: 80vw;
  max-height: 100vh;
}
.conteinerQuestions1 p,
.conteinerQuestions2 p,
.conteinerQuestions3 p {
  font-size: 30px;
}

.conteinerQuestions1,
.conteinerQuestions2,
.conteinerQuestions3 {
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  padding: 50px;
  margin: 20px;
}

.conteinerQuestions1 > div,
.conteinerQuestions2 > div,
.conteinerQuestions3 > div {
  margin-bottom: 10px;
}

.conteinerQuestions1 > div:last-child,
.conteinerQuestions2 > div:last-child,
.conteinerQuestions3 > div:last-child {
  margin-bottom: 0;
}

.conteinerQuestions1 button,
.conteinerQuestions2 button,
.conteinerQuestions3 button {
  background-color: transparent;
  color: #333;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 30px;
}

.conteinerQuestions1 button:focus,
.conteinerQuestions2 button:focus,
.conteinerQuestions3 button:focus {
  outline: none;
}

.conteinerQuestions1 > div > div,
.conteinerQuestions2 > div > div,
.conteinerQuestions3 > div > div {
  padding: 0 15px; /* Ajusta el padding vertical a 0 inicialmente */
  background-color: transparent;
  opacity: 0; /* Inicialmente invisible */
  height: 0; /* Inicialmente altura 0 */
  overflow: hidden; /* Oculta el contenido que excede la altura */
  transition: opacity 1s ease-in-out, height 0.5s ease-in-out; /* Transición de opacidad y altura */
  margin-top: -10px; /* Ajusta el margen superior para compensar el espacio */
}

.conteinerQuestions1 > div > div.open,
.conteinerQuestions2 > div > div.open,
.conteinerQuestions3 > div > div.open {
  opacity: 1; /* Totalmente visible */
  height: auto; /* La altura se ajusta al contenido */
  padding: 15px; /* Restaura el padding vertical al abrirse */
  margin-top: 0; /* Restaura el margen superior */
}
