table {
  width: 75vw;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-right: 4.5px solid white;
}

th {
  border-bottom: 4.5px solid white;
}

.containerPrincipal {
  display: flex;
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 25vh;
}

.containerSocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 25vw;
}

.icon {
  width: 48px;
  height: 48px;
  background-color: #888;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  a{
    color: black;
  }
}

.icon:hover {
  background-color: #555;
  transform: scale(1.1);
}

.icon a:hover {
  color: black;          /* Nos aseguramos que siga siendo negro al pasar el mouse */
}