/* src/components/ui/CategoryComp/CategoryForm/CategoryForm.module.css */

.form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

.input,
.select { /* Estilos para inputs y selects */
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 1rem;
    color: #555;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box; /* Asegura que padding no aumente el width total */
}

.input:focus,
.select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    outline: none;
}

/* Estilos específicos para el placeholder */
.input::placeholder {
    color: #bbb;
}

.buttonGroup {
    display: flex;
    justify-content:flex-end; /* Alinea los botones a la derecha */
    gap: 15px; /* Espacio entre los botones */
    margin-top: 30px;
}

.primaryButton,
.secondaryButton {
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    flex-grow: 0; /* No permitir que los botones crezcan */
}

.primaryButton {
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.primaryButton:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

.primaryButton:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.2);
}

.secondaryButton {
    background-color: #6c757d;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(108, 117, 125, 0.2);
}

.secondaryButton:hover {
    background-color: #5a6268;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(108, 117, 125, 0.3);
}

.secondaryButton:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(108, 117, 125, 0.2);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .form {
        padding: 20px;
        margin: 20px;
    }

    .buttonGroup {
        flex-direction: column;
        gap: 10px;
    }

    .primaryButton,
    .secondaryButton {
        width: 100%;
    }
}