/* src/components/ui/ColorComp/ColorForm/ColorForm.module.css */

.colorForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

.checkboxField {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.formActions {
    display: flex;
    gap: 10px;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    margin-top: 15px;
}

.submitButton,
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.submitButton {
    background-color: #007bff;
    color: white;
}

.submitButton:hover {
    background-color: #0056b3;
}

.cancelButton {
    background-color: #6c757d;
    color: white;
}

.cancelButton:hover {
    background-color: #5a6268;
}