.cartCard {
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  
  .imageContainer {
    width: 30vh;
    height: 30vh;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .productImage {
    width: 100%;
    height: 100%;
  }
  
  .productDetails {
    flex-grow: 1;
    margin-right: 15px;
  }
  
  .productName {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .productCategory,
  .productGender,
  .productColor,
  .productSize,
  .productPrice,
  .productDiscount {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 3px;
  }
  
  .productDiscount {
    color: #d9534f; /* Color rojo para destacar el descuento */
    font-weight: bold;
  }
  
  .quantityControls {
    display: flex;
    align-items: center;
    margin-left: auto; /* Empuja los controles de cantidad y el botón de eliminar a la derecha */
  }
  
  .quantityControls label {
    font-size: 1.5rem;
    margin-right: 5px;
  }
  
  .quantityControls select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.5rem;
    width: 80px;
  }
  
  .removeButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 15px;
    color: #d9534f;
  }
  
  .removeButton:hover {
    opacity: 0.8;
  }