.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    justify-content: space-evenly;
}

.fotoperfil {
    margin: 20px;
    height: 80%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(168, 167, 167);
    align-items: center;
    text-align: center;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    p {
        padding-top: 10px;
        font-size: 30px;
    }

    button {
        margin-top: 30px;
        padding: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: black;
        color: white;
        font-size: 30px;
    }
}

.datos {
    margin: 20px;
    padding: 20px;
    background-color: rgb(168, 167, 167);
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    h4 {
        font-size: 30px;

    }

    h5 {
        font-size: 25px;
    }

    p {
        font-size: 25px;
    }


}
.eliminar{
    align-items: center;
    text-align: center;
    button {
        align-items: center;
        margin-top: 30px;
        padding: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: black;
        color: white;
        font-size: 30px;
    }
}